.search-form__content {
    max-width: 1230px;
    margin: 60px auto;
}

.search-form__content-ttl {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.search-form {
    display: flex;
    justify-content: center;
}

.search-form__item-select {
    width: 320px;
    height: 40px;
    appearance: none;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
}

.search-form__button-submit {
    background-color: #000;
    color: #fff;
    padding: 8px 50px;
    border-radius: 5px;
    cursor: pointer;
}
