.quiz__content {
    width: 650px;
    margin: 60px auto;
}

.question {
    background-color: #000;
    padding: 20px 30px;
    margin-bottom: 10px;
}

.question__text {
    color: #fff;
    font-size: 18px;
}

.answer__content {
    width: 100%;
}

.quiz-form__group {
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 5px;
}

.quiz-form__radio {
    display: none;
}

.quiz-form__radio:checked + label {
    background-color: #ddd;
}

.quiz-form__label {
    display: block;
    text-align: center;
    width: 100%;
    cursor: pointer;
    padding: 20px;
}

.quiz-form__btn-submit {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 15px 20px;
    cursor: pointer;
    margin-top: 20px;
}

