.result__content {
    max-width: 900px;
    margin: 60px auto;
}

.result {
    text-align: center;
    padding: 20px;
}

.result__text--correct {
    color: red;
}

.result__text--incorrect {
    color: blue;
}

.answer__table {
    width: 100%;
    border: 1px solid #ddd;
}

.answer__table-inner {
    width: 100%;
    margin: 0 auto;
}

.answer__table-header {
    width: 20%;
    font-size: 18px;
    font-weight: bold;
    background: #eee;
    text-align: center;
}

.answer__table-row:first-child .answer__table-header {
    border-bottom: 1px solid #ddd;
}

.answer__table-text {
    padding: 15px;
}

.answer__table-text {
    border-bottom: 1px solid #ddd;
}

.answer__table-row:last-child .answer__table-header,
.answer__table-row:last-child .answer__table-text {
    border-bottom-width: 0;
}